@model IEnumerable<MediCare_Hub.Models.Hospital>

@{
    ViewData["Title"] = "Hospitals Details";
}

<h2>Hospitals Details</h2>
<h4>Add A New Hospital: <a asp-action="Add" class="btn btn-info pt-2 pb-2">Add</a></h4>

<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="@(item.Id % 2 == 0 ? "table-primary" : "table-secondary")">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                    <a 
                        asp-action="Delete" 
                        asp-route-id="@item.Id" 
                        class="btn btn-danger"
                        onclick="return confirm('Are you sure to delete hospital: @item.Name?')"
                    >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
